# CSTE Rocky Mountain West Regional COVID Model .dockerignore
# Written by: Andrew Hill
# Last Modified: 2022-12-07
# Description: This file contains directories and files which we would like to ignore when building the Docker image,
#              like files which are only used for interactive analysis, or QC and test files which are unnecessary
#              when running to generate results.

# Contains Jupyter notebooks for interactive model running
covid_model/analysis
!covid_model/analysis/__init__.py
!covid_model/analysis/charts.py

# Contains QC code
covid_model/model_dev_qc

# Contains output from previous model runs (When running from Docker, we will map a GCS bucket at this path anyways).
covid_model/output

# Contains Python virtual environment
venv/

# Contains old pre-Docker files
old/

# Contains test code
test/

# Contains Jupyter checkpoints
.ipynb_checkpoints/

# Git
.git/