arch==5.1.0
attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
cycler==0.11.0
Cython==0.29.26
fonttools==4.29.0
future==0.18.2
google-api-core==2.6.0
google-auth==2.6.0
google-cloud-bigquery==2.34.1
google-cloud-bigquery-storage==2.12.0
google-cloud-core==2.2.2
google-crc32c==1.3.0
google-resumable-media==2.3.1
googleapis-common-protos==1.55.0
greenlet==1.1.2
grpcio==1.44.0
grpcio-status==1.44.0
idna==3.3
joblib==1.1.0
kiwisolver==1.3.2
matplotlib==3.5.1
mpmath==1.2.1
multiprocessing-logging==0.3.3
numpy==1.22.1
packaging==21.3
pandas==1.4.0
patsy==0.5.2
Pillow==9.0.1
pmdarima==1.8.4
property-cached==1.6.4
proto-plus==1.20.3
protobuf==3.19.4
psycopg==3.0.8
psycopg2==2.9.3
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
pyswarms==1.3.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.27
sqlalchemy-bigquery==1.4.0
statsmodels==0.13.1
sympy==1.9
threadpoolctl==3.0.0
tqdm==4.62.3
urllib3==1.26.8
